@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin:0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.main-index{
  width: 1200px;
  margin: 0 auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
}

.hero {
  min-height: 485px;
  background-color: #82b3d3;
  background-image:url("../images/waves.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  background-size: 1200px 57px, cover;
  text-align: center;
}

.intro-title{
  font-size: 30px;
  line-height: 36px;
  color: black;
  text-align: center;
  font-weight: 700;
}

.intro-description{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-blue {
  display: flex;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  background-color: #82B3D3;
}

.advantages-image {
  display: block;
}
